.section-news li {
    padding: 10px;
}

.news-content .section-hot li:hover {
    background-color: darkolivegreen;
}

.news-content .section-hot .footer {
    color: darkolivegreen;
}

.news-content .section-realty li:hover {
    background-color: cadetblue;
}

.news-content .section-realty .footer {
    color: cadetblue;
}
.news-content .section-news li:hover a {
    color: white;
}
.section-news h2 {
    color: white;
    padding: 10px;
}

.section-hot h2 {
    background-color: darkolivegreen;
}
.hot-header {
    background-color: darkolivegreen;
}

.section-realty h2 {
    background-color:cadetblue;
}

.footer {
    color: white;
    background-color: black;
}