* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navigation-list {
    display: flex;
    


}

.logo {
    color: black;
}


.top {
    background-image: url("../img/©daniel.chodusov@1X.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
}



.wrapper {
    width: 960px;
     
}

li {
    list-style-type: none;
}