.container {
    background-color: #b3b3b3;
    width: 1920px;
    height: 800px;
}

.textwood {
    margin-top: 13px;
    font-size: 30px;
    color: rgba(0, 0, 0, 255);
    padding-left: 21px;
}

.imgr {
    padding-bottom: 40px;
}

.centertext {
    text-align: center;
    font-size: 45px;
    color: rgba(0, 0, 0, 255);
    font-family: 'Montserrat', sans-serif;
    }


