* {
    border-style: solid;
    color: red;
    padding: 4px;
    border-width: 3px
}

div {
    width: 500px;
}

p {
    color: white;
    width: 300px;
    height: 500px;
   background-image: url(/img/pattern.jpg);
   background-repeat: no-repeat;
   background-color: black;
   background-position: center center;
   margin: 100px;
   /* border-style: dashed;
   border-width: 4px;
   border-style: solid;
border-color: #20ec0d */
}

