* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  .wrapper {
    max-width: 960px;
    min-width: 320px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .section h2 {
    font-size: 30px;
  }
  
  .section p {
    font-size: 18px;
  }
  
  .parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
  }
  
  .bg1 {
    background-image: url("https://images.pexels.com/photos/776763/pexels-photo-776763.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  }
  
  .bg2 {
    background-image: url("https://images.pexels.com/photos/776526/pexels-photo-776526.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  }
  
  .bg3 {
    background-image: url("https://images.pexels.com/photos/773594/pexels-photo-773594.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  }