* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.picture {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%),url(../img/Background\ Image@1X.png);
    width: 1424px;
    height: 729px;
}

.link-item {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    /* display: flex; */
    /* align-content: flex-end; */
   
}

ul { 
    width: 1424px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    list-style-type: none;
    /* align-content: flex-end; */
    margin-right: 242px;

    }

    .item-menu {
        margin-right: 10px;
    }