* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 800px;
}

header {
    max-width: 800px;
    display: flex;
    justify-content: space-between;

}

.head {
    margin: auto;
    width: 800px;
    /* max-width: 410px; */
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    background-color: black;
    padding-left: 108px;
}

.box1 {
    background-color: #e0ad2f;
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 126px;
}

.link {
    text-decoration: none;
    color: white;
    margin-top: 15px;
    font-size: 11px;
}

.text-up {
    font-size: 35px;
    color: rgba(255, 255, 255, 255);
    margin-bottom: 31px;
}

.header-text {
    font-size: 13px;
    color: rgba(151, 153, 155, 255);
    text-align: center;
    display: flex;
   padding-left: 190px;
   justify-content: center;
}

.text-under {
    font-size: 15px;
    color: rgba(36, 36, 44, 255);
    margin-bottom: 45px;
    display: flex;
    justify
}

.wrapper-text {
    width: 70%;
}

.button-up {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 160px;
    height: 46px;
    background-color: black;
    margin: auto;
}


@media (max-width: 550px) {
    .text-up {
        font-size: 34px;
    }

    .text-under {
        font-size: 12px;
    }

    .wrapper-text {
        width: 90%;
    }

}

@media (max-width: 400px) {
    .text-up {
        font-size: 20px;
    }

    .text-under {
        font-size: 7px;
    }

    .wrapper-text {
        width: 85%;
    }
}